In [2]:
import pandas as pd
from IPython.core.display import display

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
     index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [3]:
tab = pd.DataFrame({'col1':[1,2], 'col2':[3,4]})
display(tab)

   col1  col2
0     1     3
1     2     4

In [5]:
pd.read_csv('StudentsPerformance.csv')

,gender,faculty,parental level of education,lunch,test preparation course,charms score,potions score,dark arts score
0,female,faculty B,Koldovstoretz,standard,none,72,72,74
1,female,faculty C,Durmstrang Institute,standard,completed,69,90,88
2,female,faculty B,Hogwarts School of Witchcraft and Wizardry,standard,none,90,95,93
3,male,faculty A,Beauxbatons Academy of Magic,free/reduced,none,47,57,44
4,male,faculty C,Durmstrang Institute,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,faculty E,Hogwarts School of Witchcraft and Wizardry,standard,completed,88,99,95
996,male,faculty C,Mahoutokoro School of Magic,free/reduced,none,62,55,55
997,female,faculty C,Mahoutokoro School of Magic,free/reduced,completed,59,71,65
998,female,faculty D,Durmstrang Institute,standard,completed,68,78,77
999,female,faculty D,Durmstrang Institute,free/reduced,none,77,86,86